       <div class="spacer"></div>
       <h1 class="GenericButton1" id="GenericButton1">DESTAQUES</h1>
        <div class="spacer"></div>
        <section id="icon-boxes" class="icon-boxes">
          <div class="container">
        
            <div class="row">
              <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0 aos-init aos-animate" id="md6"
                data-aos="fade-up">
                <div class="icon-box">
                  <div class="icon"><i class="bx bxl-dribbble"></i></div>
                  <h4 class="title"><a href="">SSD6</a></h4>
                  <p class="description">Intel® SSD série 6 baseada na tecnologia Intel® QLC 3D NAND.  Se você estiver procurando a perguntas frequentes sobre a Intel® SSD série 600p desenvolvida em Intel® TLC 3D NAND</p>
                  <img src="../../../assets/css/46284525-fashion-seamless-wallpaper-pattern-with-of-different-perfumes.webp" id="ashe">
                </div>
              </div>
        
              <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0 aos-init aos-animate" id="md6"
                data-aos="fade-up" data-aos-delay="100">
                <div class="icon-box">
                  <div class="icon"><i class="bx bx-file"></i></div>
                  <h4 class="title"><a href="">SSD6</a></h4>
                  <p class="description">Intel® SSD série 6 baseada na tecnologia Intel® QLC 3D NAND.  Se você estiver procurando a perguntas frequentes sobre a Intel® SSD série 600p desenvolvida em Intel® TLC 3D NAND</p>
                  <img src="../../../assets/css/46284525-fashion-seamless-wallpaper-pattern-with-of-different-perfumes.webp" id="ashe">
                </div>
              </div>
        
              <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0 aos-init aos-animate" id="md6"
                data-aos="fade-up" data-aos-delay="200">
                <div class="icon-box">
                  <div class="icon"><i class="bx bx-tachometer"></i></div>
                  <h4 class="title"><a href="">SSD6</a></h4>
                  <p class="description">Intel® SSD série 6 baseada na tecnologia Intel® QLC 3D NAND.  Se você estiver procurando a perguntas frequentes sobre a Intel® SSD série 600p desenvolvida em Intel® TLC 3D NAND</p>
                  <img src="../../../assets/css/46284525-fashion-seamless-wallpaper-pattern-with-of-different-perfumes.webp" id="ashe">
                </div>
              </div>
        
              <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0 aos-init aos-animate" id="md6"
                data-aos="fade-up" data-aos-delay="300">
                <div class="icon-box">
                  <div class="icon"><i class="bx bx-layer"></i></div>
                  <h4 class="title"><a href="">SSD6</a></h4>
                  <p class="description">Intel® SSD série 6 baseada na tecnologia Intel® QLC 3D NAND.  Se você estiver procurando a perguntas frequentes sobre a Intel® SSD série 600p desenvolvida em Intel® TLC 3D NAND</p>
                  <img src="../../../assets/css/46284525-fashion-seamless-wallpaper-pattern-with-of-different-perfumes.webp" id="ashe">
                </div>
              </div>
        
            </div>
        
          </div>
        </section>
        
        <h2 class="GenericButton1" id="GenericButton1">NOVIDADES</h2>
        <div class="spacer"></div>
        <iframe id="youtube" width="800" height="600" src="https://www.youtube.com/embed/VuxqhabKyLw" title="YouTube video player"
            frameborder="1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        <div class="spacer"></div>

        <section id="icon-boxes" class="icon-boxes">
          <div class="container">
        
            <div class="row">
              <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0 aos-init aos-animate" id="md6"
                data-aos="fade-up">
                <div class="icon-box">
                  <div class="icon"><i class="bx bxl-dribbble"></i></div>
                  <h4 class="title"><a href="">CABO HDMI 2.1 FIBRA ÓTICA</a></h4>
                  <p class="description">Fibra óptica (ou ótica) é um filamento flexível e transparente fabricado a partir de vidro ou plástico extrudido e que é utilizado como condutor de elevado rendimento de luz, imagens ou impulsos codificados. Tem diâmetro de alguns micrometros, ligeiramente superior ao de um fio de cabelo humano.[1] Por ser um material que não sofre interferências eletromagnéticas, a fibra óptica possui uma grande importância em sistemas de comunicação de dados.</p>
                  <img src="../../../assets/css/qual-a-origem-dos-perfumes-per.jpg" id="ashe">
                </div>
              </div>
        
              <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0 aos-init aos-animate" id="md6"
                data-aos="fade-up" data-aos-delay="100">
                <div class="icon-box">
                  <div class="icon"><i class="bx bx-file"></i></div>
                  <h4 class="title"><a href="">LIXO ELETRÔNICO</a></h4>
                  <p class="description">O lixo eletrônico é um dos grandes desafios da sociedade atual: graças à obsolescência programa e nossa natureza consumista, há muitos dispositivos eletrônicos no lixo causando grandes danos ao meio ambiente. Aqui, você vai aprender o quão ruim ele é para o planeta, além conhecer a legislação relacionada ao tema.</p>
                  <img src="../../../assets/css/hhistor103.jpg" id="ashe">
                </div>
              </div>
        
              <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0 aos-init aos-animate" id="md6"
                data-aos="fade-up" data-aos-delay="200">
                <div class="icon-box">
                  <div class="icon"><i class="bx bx-tachometer"></i></div>
                  <h4 class="title"><a href="">CABO HDMI 2.1 FIBRA ÓTICA</a></h4>
                  <p class="description">Fibra óptica (ou ótica) é um filamento flexível e transparente fabricado a partir de vidro ou plástico extrudido e que é utilizado como condutor de elevado rendimento de luz, imagens ou impulsos codificados. Tem diâmetro de alguns micrometros, ligeiramente superior ao de um fio de cabelo humano.[1] Por ser um material que não sofre interferências eletromagnéticas, a fibra óptica possui uma grande importância em sistemas de comunicação de dados.</p>
                  <img src="../../../assets/css/qual-a-origem-dos-perfumes-per.jpg" id="ashe">
                </div>
              </div>

              <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0 aos-init aos-animate" id="md6"
                data-aos="fade-up" data-aos-delay="200">
                <div class="icon-box">
                  <div class="icon"><i class="bx bx-tachometer"></i></div>
                  <h4 class="title"><a href="">LIXO ELETRÔNICO</a></h4>
                  <p class="description">O lixo eletrônico é um dos grandes desafios da sociedade atual: graças à obsolescência programa e nossa natureza consumista, há muitos dispositivos eletrônicos no lixo causando grandes danos ao meio ambiente. Aqui, você vai aprender o quão ruim ele é para o planeta, além conhecer a legislação relacionada ao tema.</p>
                  <img src="../../../assets/css/hhistor103.jpg" id="ashe">
                </div>
              </div>
              <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0 aos-init aos-animate" id="md6"
                data-aos="fade-up" data-aos-delay="200">
                <div class="icon-box">
                  <div class="icon"><i class="bx bx-tachometer"></i></div>
                  <h4 class="title"><a href="">CABO HDMI 2.1 FIBRA ÓTICA</a></h4>
                  <p class="description">Fibra óptica (ou ótica) é um filamento flexível e transparente fabricado a partir de vidro ou plástico extrudido e que é utilizado como condutor de elevado rendimento de luz, imagens ou impulsos codificados. Tem diâmetro de alguns micrometros, ligeiramente superior ao de um fio de cabelo humano.[1] Por ser um material que não sofre interferências eletromagnéticas, a fibra óptica possui uma grande importância em sistemas de comunicação de dados.</p>
                  <img src="../../../assets/css/qual-a-origem-dos-perfumes-per.jpg" id="ashe">
                </div>
              </div>
              <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0 aos-init aos-animate" id="md6"
                data-aos="fade-up" data-aos-delay="200">
                <div class="icon-box">
                  <div class="icon"><i class="bx bx-tachometer"></i></div>
                  <h4 class="title"><a href="">LIXO ELETRÔNICO</a></h4>
                  <p class="description">O lixo eletrônico é um dos grandes desafios da sociedade atual: graças à obsolescência programa e nossa natureza consumista, há muitos dispositivos eletrônicos no lixo causando grandes danos ao meio ambiente. Aqui, você vai aprender o quão ruim ele é para o planeta, além conhecer a legislação relacionada ao tema.</p>
                  <img src="../../../assets/css/hhistor103.jpg" id="ashe">
                </div>
              </div>
        
            </div>
        
          </div>
        </section>