<header class="menu" id="menu">
  <h1>iDigiTecno</h1>
  <div class="spacer"></div>
  <button type="button" id="inicio" class="GenericButton" routerLink="">Início</button>
  <button type="button" id="historia" class="GenericButton" disabled>História</button>
  <button type="button" id="contato" class="GenericButton">Contato</button>
  <button type="button" id="sobre" class="GenericButton" disabled>Sobre</button>
  <button type="button" id="inscrever" class="GenericButton" routerLink="register">Inscreva-se</button>
</header>
